@mixin overwatch-button-common-styles {
  font-family: "Futura", sans-serif;
  font-size: 1.6rem;
  font-weight: 700;
  margin-bottom: 20px;
  padding: 6px 1em;
  text-transform: uppercase;
  border-radius: 2px;
}
.btn--overwatch {
  margin-bottom: 0;
  @include overwatch-button-common-styles;
}
.btn--large {
  font-size: 2.0rem;
}
.btn--primary {
  color: #262626;
  background-color: #ff9c00;
}
.btn--secondary {
  color: #333333;
  background-color: #ffffff;
}
.btn--tertiary {
  color: #ffffff;
  background-color: #00a5e2;
}
