<!doctype html>
<html lang="en">
  <head>
    <%= partial "partials/shared/head" %>
    <link rel="stylesheet" href="/stylesheets/wow.css">
  </head>
  <body class="<%= custom_page_classes %>">
    <%= yield %>
    <%= javascript_include_tag "wow" %>
  </body>
</html>
