---
title: Overwatch
description: "Lorem ipsum dolor sit amet."
---

<div class="container thingy__container">
  <h1>Hello, Overwatch!</h1>
  <a class="btn btn--overwatch btn--primary" href="javascript:void(0);">Buy Now</a>
  <br>
  <a class="btn btn--overwatch btn--secondary" href="javascript:void(0);">Watch Trailer</a>
  <br>
  <a class="btn btn--overwatch btn--large btn--tertiary" href="javascript:void(0);">View All News</a>
</div>
