---
layout: wow
title: World of Warcraft
description: "Lorem ipsum dolor sit amet."
---

<div class="container thingy__container">
  <h1>Hello, WOW!</h1>
  <a class="btn btn--wow btn--primary" href="javascript:void(0);">
    <div class="btn--outer">
      <div class="btn--inner">
        Buy Now
      </div>
    </div>
  </a>
  <br>
  <a class="btn btn--wow btn--secondary" href="javascript:void(0);">
    <div class="btn--outer">
      <div class="btn--inner">
        Watch Trailer
      </div>
    </div>
  </a>
</div>
