.social-icons {
  font-size: 0;
  &__icon {
    font-size: $font-size-default;
    display: inline-block;
    margin: 0 20px 0 0;
  }
  svg {
    height: 24px;

    path {
      fill: $text-light;
    }
  }
  &__icon:last-child {
    margin: 0;
  }
}
