.sticky-footer {
  position: relative;
  display: table;
  overflow: hidden;
  width: 100%;
  height: 100%;
  table-layout: fixed;
  &__content {
    display: table-row;
    height: 100%;
  }
  &__sticker {
    display: table-row;
    height: 1px;
  }
}
