<section class="social-icons">
  <a class="social-icons__icon" href="https://facebook.com" target="_blank" rel="noopener">
    <span class="social-icons__text">Facebook</span>
    <%= partial "images/social/facebook-f.svg" %>
  </a>
  <a class="social-icons__icon" href="https://twitter.com" target="_blank" rel="noopener">
    <span class="social-icons__text">Twitter</span>
    <%= partial "images/social/twitter.svg" %>
  </a>
  <a class="social-icons__icon" href="https://instagram.com" target="_blank" rel="noopener">
    <span class="social-icons__text">Instagram</span>
    <%= partial "images/social/instagram.svg" %>
  </a>
  <a class="social-icons__icon" href="https://youtube.com" target="_blank" rel="noopener">
    <span class="social-icons__text">YouTube</span>
    <%= partial "images/social/youtube.svg" %>
  </a>
</section>
