@mixin wow-button-common-styles {
  font-size: 1.8rem;
  margin-bottom: 20px;
  padding: 0;
  border: 1px solid #000000;
  border-radius: 0;
  &:last-child {
    margin: 0;
  }
}
@mixin wow-button-inner-common-styles {
  padding: 12px 30px;
  text-transform: uppercase;
  color: #f7b10a;
  margin: 0;
}
.btn--wow {
  @include wow-button-common-styles;
}
.btn--primary {
  border-color: #ea3012;
  background-color: rgba(159,22,0,0.6);
  & .btn--inner {
    @include wow-button-inner-common-styles;
  }
}
.btn--secondary {
  border-color: rgb(199, 126, 25);
  background-color: rgba(0,0,0,0.4);
  & .btn--inner {
    border-color: 1px solid #c77e19;
    @include wow-button-inner-common-styles;
  }
}
