// Standard Colors
$color-light: #f7f8f9;
$color-primary: #2e91fc;

// Text Colors
$text-light: #748493;
$text-default: #556370;
$text-dark: #373f47;

// Typography
$font-family-default: -apple-system, BlinkMacSystemFont, "Avenir Next", "Avenir",
  "Segoe UI", "Lucida Grande", "Helvetica Neue", "Helvetica", "Fira Sans",
  "Roboto", "Noto", "Droid Sans", "Cantarell", "Oxygen", "Ubuntu",
  "Franklin Gothic Medium", "Century Gothic", "Liberation Sans", sans-serif;
$font-size-default: 1.6rem;

// Elements
$border-default: 1px solid #e5e9ed;
$border-radius-default: 5px;
